h1 {
  font-family: helvetica;
  font-size:100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  margin: auto;
  padding:70px;
  position: relative;
}

.image {
    position: absolute;
    clip: rect(10px,1665px,130px,0px);
    top:50px;
}

h2 {
  font-family:helvetica;
  font-size:32px;
  font-weight:bold;
  color: white;
}

.version-one {
    background-color: mediumspringgreen;
  }

.version-two {
    background-color: lightcoral;
  }

.version-three {
    background-color: skyblue;
  }

h3, p {
    font-family: helvetica;
  }
